body {
	font-family:sans-serif;
	background-color: #808080;
}
#gameName{
	height: 65px;
	width: 400px;
	margin: 0 auto;
}
#gameName h1 {
	position: fixed;
}
#gameWrapper {
	height: 502px;
	width: 1000px;
	margin: 20px auto;
}
#instruction {
	width: 1000px;
	margin: 0 auto;
}

canvas {
	border: 1px solid black;
	position: fixed;
}
